@{ 
    var status = ViewBag.ConfirmStatus;
}


<div class="row d-flex flex-row justify-content-end align-content-center">
    <div class="col-12 reg-con-padd">
            @if(status == true)
            {

                <div class="col-lg-12">
                    <h1 class="text-left">Congratulations!</h1>
                    Your Email has been Confirmed.
                    <p>follow the link to your dashboard</p>
                    <div style="margin-bottom:20vh;"> <a class="btn btn-success rounded mt-5 px-5" asp-action="Index" asp-controller="Dashboard" style="background: #06864D; ">Dashboard</a></div>
                </div>
            }
            else
            {

                <div class="col-lg-12">
                    <h1 class="text-left">Email Confirmation Failed!</h1>
                    Your Account has been not confirmed.
                    <p>Contact Support for further Assistance! <a asp-action="" asp-controller="">contact support</a></p>
                    <div style="margin-bottom:20vh;"> <a class="btn btn-success rounded mt-5 px-5" asp-action="Index" asp-controller="Home" style="background: #06864D; ">Back To Home</a></div>
                </div>
            }

    </div>
</div>
