@{
    ViewData["Title"] = "Home Page";
}

<div class="col-12">
    <div class="row">
        <div class="col-12 d-flex flex-lg-row-reverse flex-sm-row-reverse flex-wrap">
            <div class="col-lg-6 col-sm-12 p-0 pl-4" >
               <img class="img-fluid" src="~/images/landing-image.png" alt="Alternate Text" />
            </div>
            <div class="col-lg-6 col-sm-12 p-0">
                <div class="col-lg-12">
                    <div class="landing-textcontainer">

                        <h1 class="title-one">
                            Create Your Portfolio, Land Your Dream Job
                        </h1>
                        <p class="sub-title">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                        </p>
                        <a class="btn explore-btn" asp-area="" asp-controller="Home" asp-action="Guest">
                            Explore
                        </a>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
</div>


