



<div class="row d-flex flex-row justify-content-end align-content-center" >
    <div class="col-12 reg-con-padd">
        <div class="col-lg-12">
            <h1 class="text-left">Congratulations!</h1>
            Your Account has been Successfully created. A link has been sent to
            <p>your Email. please follow the link to confirm your account</p>
            <div style="margin-bottom:20vh;"> <a class="btn btn-success rounded mt-5 px-5" asp-action="Index" asp-controller="Home" style="background: #06864D; ">Goto home</a></div> 
        </div>
    </div>
</div>

