.body {
    font-family: "Poppins", sans-serif;
    background: rgb(222,226,238);
    background: linear-gradient(27deg, rgba(222,226,238,1) 40%, rgba(245,245,248,1) 68%);
}

body {
    font-family: "Poppins", sans-serif;
    background: #f5f5f8;
}

.reg-con-padd {
    padding-top: 12%;
    margin: 10px;
}
/*...........Navigation bar section..............*/
.nav-design {
    background-color: transparent;
    height: 15vh;
}

.nav-text {
    color: #623131;
    line-height: 20px;
}


.nav-btn {
    background-color: #623131;
    color: #f5f5f8;
    border-radius: 50px;
    font-size: 12px;
    font-weight: bold;
    height: 3.5em;
    width: 100px;
    line-height: 30px;
}

    .nav-btn:hover {
        border: 2px solid #623131;
        background-color: #f5f5f8;
        transition: ease-in-out .5s;
        color: #623131;
    }

.nav-item > a {
    margin: 3px;
}


/*............Landing page body.................*/

.bdy {
    background: linear-gradient(27deg, rgba(224,227,237,1) 17%, rgba(245,245,248,1) 100%);
}

.landing-textcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 500px;
}

.title-one {
    font-size: 46px;
    color: #000000;
    font-weight: bolder;
}

.sub-title {
    font-size: 18px;
    color: #000000;
    font-weight: normal;
}

.explore-btn {
    background-color: #623131;
    color: #f5f5f8;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bolder;
    height: 2.5em;
    width: 200px;
    line-height: 32px;
    border: 0px;
}

    .explore-btn:hover {
        border: 2px solid #623131;
        background-color: #f5f5f8;
        transition: ease-in-out .5s;
        color: #623131;
    }
/*.............login modal.......................*/
.g-btn {
    border-radius: 5px;
    border: 2px solid rgba(224,227,237,1);
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    line-height: 11px;
}

    .g-btn:hover {
        background-color: rgba(224,227,237,1);
        transition: ease-in-out .5s;
        color: #623131;
    }

.hr5 {
    border: 0;
    border-top: medium double #CCC;
    height: 1px;
    overflow: visible;
    padding: 0;
    color: #CCC;
    text-align: center;
}

    .hr5::after {
        content: "Or";
        display: inline-block;
        position: relative;
        top: -0.9em;
        font-size: 14px;
        padding: 0 0.3em;
        background: white;
    }

.login-btn {
    margin-top: 10px;
    background-color: #623131;
    color: #f5f5f8;
    border-radius: 5px;
    border: 2px solid rgba(224,227,237,1);
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    line-height: 28px;
}

    .login-btn:hover {
        border: 2px solid #623131;
        background-color: #f5f5f8;
        transition: ease-in-out .5s;
        color: #623131;
    }


/*............guest page css ............*/
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.wrapper {
    display: flex;
    width: 100%;
    
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: transparent;
    color: #fff;
    transition: all 0.3s;
    margin:.5em;
    padding-bottom:20px;
    padding-right:5px;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        display: flex;
        flex-direction: row;
        padding: 3em 0 3em 2em;
        background: transparent;
        text-align: start;
    }

    #sidebar .nav-text {
        display: flex;
        flex-direction: column;
        padding: 5px;
        align-items: start;
        justify-content: center;
        background: transparent;
    }

    #sidebar ul.components {
       
        text-align: start;
    }
   

    #sidebar ul p {
        color: #fff;
        padding: 8px;
    }

    #sidebar ul li a {
        padding: 8px;
        padding-left: 2em;
        margin: .2em;
        font-size: 1em;
        display: block;
        text-decoration: none;
        color: #623131;
    }

        #sidebar ul li a:hover {
            color: #f5f5f8;
            background: #FFB15B;
            border-radius: 5px;
            transition: ease-in .3s;
            border-right: 5px solid #623131;
        }

    #sidebar ul li.active > a {
        color: #fff;
        background: #623131;
        border-radius: 5px;
        border-right: 5px solid #FFB15B;
    }


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
ul ul a {
    font-size: 0.7em !important;
    border: 1px solid #ddd;
    border-radius: 5px;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

    #content.active {
        width: 100%;
    }



/*
    hide focus
*/
.form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

/*---------------------------------------------
    guest card
----------------------------------------------*/
.card-container {
    color: #49516F;
    position: relative;
    width: 260px;
    max-width: 100%;
    margin: .5em;
    margin-right: 15px;
}

    .card-container p {
        font-size: 14px;
        font-weight:lighter;
    }

    .card-container h3 {
        font-size: 18px;
        font-weight:bold;
    }

    .card-container .round {
        border-radius: 7%;
        box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
        width: 260px;
    }

    .card-container .msg-btn {
        background-color: #FFB15B;
        color: #f5f5f8;
        top: 50%;
        left: 10%;
        transform: translate(10%, -130%);
        -ms-transform: translate(10%, -130%);
        border-radius: 20px;
        font-size: 12px;
        font-weight: normal;
        cursor: pointer;
        width: 35%;
    }

        .card-container .msg-btn:hover {
            border: 1px solid #623131;
            background-color: #f5f5f8;
            transition: ease-in-out .5s;
            color: #623131;
            width: 35%;
        }
    .card-container .over {
        transform: translate(0%, -30%);
        -ms-transform: translate(0%, -30%);
    }

.buttons {
    padding: 0px;
    text-align: right;
}

 .buttons .more-btn {
        background-color: #623131;
        border: 1px solid #623131;
        border-radius: 18px;
        opacity: 0.8;
        color: #f5f5f8;
        font-weight: bold;
        padding: 10px;
        width: 60%;
 }


 /*------------------------------------------------------------------------------
    profile css
 =------------------------------------------------------------------------------*/
 .banner img{
     width:100%;
 }
.placeholder {
    border-radius: 50%;
    background: transparent;
    height: 200px;
    width: 200px;
    border-radius: 30%;
    
}
 .placeholder img {
    display: flex;
    justify-content:center;
    align-content:center;
     
 }
.overlap {
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
}
.info{
    background:white;
    border:2px;
    border-radius: 5px;
    padding: 1.5em;
    padding-bottom:.5em;
    margin: .8em 0em .8em 0em; 

}
    .info h2 {
        font-weight: bolder;
        text-transform: capitalize;
        font-size: 32px;
    }

    .info h4 {
        font-weight: normal;
        text-transform: capitalize;
        font-size: 22px;
    }
    .info p {
        font-weight: lighter;
        text-transform: capitalize;
        font-size: 16px;
    }


.intro {
    background: white;
    border: 2px;
    border-radius: 5px;
    padding: 2em;
    padding-bottom: 2em;
    margin: .8em 0em .8em 0em;
}
.intro h3{
    font-size: 26px;
    font-weight:bolder;
}

.intro-text{
    line-height: 2em;
    text-align:justify;
}


.intro-text .date{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    font-size: 12px;
    margin:0;
    color: lightgray;
}

.ex-list{
    padding-left:1em;
    font-size: 14px;
    margin:0;
}



/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {

    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #content {
        width: 100%;
    }

        #content.active {
            width: calc(100% - 250px);
        }

    #sidebarCollapse span {
        display: none;
    }

    .navbar-form.navbar-right {
        border-color: #101010;
        width: calc(100% - 30px);
        padding: 0;
        border: none;
    }

    .reg-con-padd {
        padding: 15%;
        margin: 10px;
    }

    .card-container {
        color: #49516F;
        position: relative;
        width: 160px;
        max-width: 100%;
        margin: .6em;
    }

        .card-container p {
            font-size: 8px;
            font-weight: lighter;
        }

        .card-container h3 {
            font-size: 12px;
            font-weight: bold;
        }

        .card-container .round {
            border-radius: 7%;
            box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
            width: 160px;
        }

        .card-container .msg-btn {
            background-color: #FFB15B;
            color: #f5f5f8;
            top: 50%;
            left: 10%;
            transform: translate(10%, -130%);
            -ms-transform: translate(10%, -130%);
            border-radius: 20px;
            font-size: 10px;
            font-weight: normal;
            cursor: pointer;
            width: 50%;
        }

            .card-container .msg-btn:hover {
                border: 1px solid #623131;
                background-color: #f5f5f8;
                transition: ease-in-out .5s;
                color: #623131;
                width: 35%;
            }

        .card-container .over {
            transform: translate(0%, -30%);
            -ms-transform: translate(0%, -30%);
        }

    .buttons {
        padding: 0px;
        text-align: right;
    }

        .buttons .more-btn {
            background-color: #623131;
            border: 1px solid #623131;
            border-radius: 18px;
            opacity: 0.8;
            color: #f5f5f8;
            font-weight: bold;
            padding: 6px;
            width: 60%;
        }




    /*-------------------------------------
            profile screen
        -------------------------------------*/
    .banner img {
        width: 100%;
        height: 400%;
    }

    .placeholder {
        border-radius: 50%;
        background: transparent;
        height: 250px;
        width: 250px;
    }

        .placeholder img {
            display: flex;
            justify-content: center;
            align-content: center;
        }

    .overlap {
        transform: translate(0%, -10%);
        -ms-transform: translate(0%, -10%);
    }

    .info {
        background: white;
        border: 2px;
        border-radius: 2px;
        padding: 1.5em;
        margin: 1em;
        margin-top: -2em;
        text-align: center;
    }

        .info h2 {
            font-weight: bolder;
            text-transform: capitalize;
            font-size: 22px;
        }

        .info h4 {
            font-weight: normal;
            text-transform: capitalize;
            font-size: 18px;
        }

        .info p {
            font-weight: lighter;
            text-transform: capitalize;
            font-size: 12px;
        }

    .intro {
        background: white;
        border: 2px;
        border-radius: 2px;
        padding: 2em;
        margin: 2em;
        margin-top: -2em;
        text-align: center;
    }

        .intro h3 {
            font-size: 26px;
            font-weight: bolder;
        }

    .intro-text {
        line-height: 2.5em;
        text-align: justify;
    }
}
    
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    .reg-con-padd {
        padding: 15%;
        margin: 10px;
    }
}

@media (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
    .reg-con-padd {
        padding: 15%;
        margin: 10px;
    }
}
